<!--对话框-->
<nz-modal [nzTitle]="title" nzWidth [(nzVisible)]="isVisible" [nzOkDisabled]="isDataOK()"
          (nzOnOk)="okButton()" (nzOnCancel)="cancelButton()">
    <!--对话框内容-->
    <div *nzModalContent>
        <nz-table [nzData]="[{}]" [nzShowPagination]="false">
            <!--两行不显示的空表头-->
            <thead>
            <tr *ngIf="false">
                <th></th>
                <th></th>
            </tr>
            </thead>
            <!--用于填写的表内容-->
            <tbody>
            <tr>
                <td>标题</td>
                <td><input [(ngModel)]="data.title" nz-input/></td>
            </tr>
            <tr>
                <td>商品</td>
                <td>
                    <nz-select [(ngModel)]="bindProducts" nzAllowClear nzMode="multiple" nzPlaceHolder="选择商品"
                               [nzDropdownMatchSelectWidth]="false" [compareWith]="compareWith">
                        <nz-option *ngFor="let d of products" [nzLabel]="d?.name" [nzValue]="d"></nz-option>
                    </nz-select>
                </td>
            </tr>
            <tr>
                <td>类型</td>
                <td>
                    <nz-select [(ngModel)]="bindType" nzAllowClear nzPlaceHolder="选择类型"
                               [nzDropdownMatchSelectWidth]="false" [compareWith]="compareWith">
                        <nz-option *ngFor="let d of types" [nzLabel]="d.name" [nzValue]="d"></nz-option>
                    </nz-select>
                </td>
            </tr>
            <tr>
                <td>账户</td>
                <td>
                    <nz-select [(ngModel)]="bindAccount" nzAllowClear nzPlaceHolder="选择账户"
                               [nzDropdownMatchSelectWidth]="false" [compareWith]="compareWith">
                        <nz-option *ngFor="let d of accounts" [nzLabel]="d.name" [nzValue]="d"></nz-option>
                    </nz-select>
                </td>
            </tr>
            <tr>
                <td>金额</td>
                <td><input [(ngModel)]="data.amount" nz-input type="number"/></td>
            </tr>
            <tr>
                <td>日期</td>
                <td>
                    <nz-date-picker [(ngModel)]="data.datetime" [nzShowTime]="true"></nz-date-picker>
                </td>
            </tr>
            <tr>
                <td>状态</td>
                <td>
                    <nz-select [(ngModel)]="data.status" nzAllowClear nzPlaceHolder="选择状态"
                               [nzDropdownMatchSelectWidth]="false">
                        <nz-option *ngFor="let d of status" [nzLabel]="d.key" [nzValue]="d.value"></nz-option>
                    </nz-select>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</nz-modal>