<app-component-transaction-editor #editor
                                  (readEditorData)="getEditorResult($event)"></app-component-transaction-editor>

<div nz-flex nzGap="small" nzVertical>
    <div nz-flex nzGap="small" nzJustify="space-between" nzVertical nzWrap="wrap">
        <nz-input-group [nzPrefix]="prefixIcon">
            <ng-template #prefixIcon><span nz-icon nzType="search"></span></ng-template>
            <input [(ngModel)]="selectedKeyword" nz-input placeholder="输入查询交易标题关键词"/>
        </nz-input-group>

        <nz-range-picker [(ngModel)]="selectedDatetime" [nzRanges]="DefinedDateRanges"
                         [nzShowTime]="true"></nz-range-picker>

        <nz-select [(ngModel)]="selectedProducts" [nzDropdownMatchSelectWidth]="false" nzAllowClear nzMode="multiple"
                   nzPlaceHolder="选择商品">
            <nz-option *ngFor="let product of allProducts" [nzHide]="!isProductNotSelected(product)"
                       [nzLabel]="product.name" [nzValue]="product"></nz-option>
        </nz-select>

        <nz-select [(ngModel)]="selectedTypes" [nzDropdownMatchSelectWidth]="false" nzAllowClear nzMode="multiple"
                   nzPlaceHolder="选择类型">
            <nz-option *ngFor="let type of allTypes" [nzHide]="!isTypeNotSelected(type)" [nzLabel]="type.name"
                       [nzValue]="type"></nz-option>
        </nz-select>

        <nz-select [(ngModel)]="selectedAccounts" [nzDropdownMatchSelectWidth]="false" nzAllowClear nzMode="multiple"
                   nzPlaceHolder="选择账户">
            <nz-option *ngFor="let account of allAccounts" [nzHide]="!isAccountNotSelected(account)"
                       [nzLabel]="account.name" [nzValue]="account"></nz-option>
        </nz-select>

        <nz-select [(ngModel)]="selectedStatus" [nzDropdownMatchSelectWidth]="false" nzAllowClear nzMode="multiple"
                   nzPlaceHolder="选择状态">
            <nz-option *ngFor="let status of allStatus" [nzHide]="!isStatusNotSelected(status)"
                       [nzLabel]="status.key" [nzValue]="status"></nz-option>
        </nz-select>
    </div>
    <div nz-flex nzGap="small" nzJustify="flex-end">
        <button (click)="submitButton()" nz-button nzType="primary">提交</button>
    </div>
    <div *ngIf="listOfData.length != 0" nz-flex nzGap="small" nzVertical>
        <div nz-flex nzJustify="space-between">
            <div nz-flex nzGap="small">
                <button
                        (click)="selectAllItemsButton()"
                        [disabled]="setOfCheckedItems.size === listOfData.length"
                        [nzLoading]="isLoading"
                        nz-button
                >
                    全选
                </button>

                <nz-badge [nzCount]="setOfCheckedItems.size">
                    <button
                            (click)="clearSetOfCheckedItemsButton()"
                            [disabled]="setOfCheckedItems.size === 0"
                            [nzLoading]="isLoading"
                            nz-button
                    >
                        清除
                    </button>
                </nz-badge>
            </div>

            <div nz-flex nzGap="small">
                <button
                        (click)="deleteTransactions()"
                        [disabled]="setOfCheckedItems.size === 0"
                        [nzDanger]="true"
                        [nzLoading]="isLoading"
                        nz-button
                        nzType="primary"
                >
                    删除
                </button>
                <button
                        (click)="editTypeButton()"
                        [disabled]="setOfCheckedItems.size !== 1"
                        [nzLoading]="isLoading"
                        nz-button
                        nzType="primary"
                >
                    修改
                </button>
                <button
                        (click)="updateStatus('FINISHED')"
                        [disabled]="setOfCheckedItems.size === 0"
                        [nzLoading]="isLoading"
                        nz-button
                        nzType="primary"
                >
                    标记为已完成
                </button>
                <button
                        (click)="updateStatus('UNFINISHED')"
                        [disabled]="setOfCheckedItems.size === 0"
                        [nzLoading]="isLoading"
                        nz-button
                        nzType="primary"
                >
                    标记为未完成
                </button>
            </div>
        </div>
        <nz-table
            #rowSelectionTable
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            [nzData]="listOfData"
            [nzLoading]="isLoading"
            [nzShowPagination]="true"
            [nzShowSizeChanger]="true">

            <thead>
            <tr>
                <th
                        (nzCheckedChange)="onAllChecked($event)"
                        [(nzChecked)]="checkedAll"
                        [nzIndeterminate]="indeterminate"
                >
                </th>
                <th *ngFor="let column of tableHeaderColumns"
                    [nzSortDirections]="column.sortDirections"
                    [nzSortFn]="column.sortFn"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortPriority]="column.priority"
                >
                    {{ column.name }}
                </th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let transaction of rowSelectionTable.data">
                <td
                        (nzCheckedChange)="onItemChecked(transaction.id,$event)"
                        [nzChecked]="setOfCheckedItems.has(transaction.id)"
                >
                </td>
                <td>{{ transaction.title }}</td>
                <td>{{ transaction.type.name }}</td>
                <td>{{ transaction.account.name }}</td>
                <td>{{ transaction.amount }}</td>
                <!--https://angular.cn/api/common/DatePipe-->
                <td>{{ transaction.datetime| date:"short":"+0800":"zh" }}</td>
                <td>{{ transaction.status | status }}</td>
            </tr>
            </tbody>
        </nz-table>
        <nz-statistic [nzTitle]="'总计金额 (CNY)'" [nzValue]="selectedAmount|number:'1.0-2'"></nz-statistic>
    </div>
</div>