<app-type-editor #editor (editorResult)="getEditorResult($event)"></app-type-editor>

<div class="function-header">
    <nz-badge [nzCount]="setOfCheckedItems.size">
        <button
                (click)="clearSetOfCheckedItems()"
                [disabled]="setOfCheckedItems.size === 0"
                [nzLoading]="loading"
                nz-button>
            清除
        </button>
    </nz-badge>


    <div class="function-button">
        <button
                nz-button
                nzType="primary"
                (click)="deleteTypes()"
                [disabled]="setOfCheckedItems.size === 0"
                [nzDanger]="true"
                [nzLoading]="loading"
        >
            删除
        </button>
        <button
                nz-button
                nzType="primary"
                (click)="editType()"
                [disabled]="setOfCheckedItems.size !== 1"
                [nzLoading]="loading"
        >
            修改
        </button>
        <button
                nz-button
                nzType="primary"
                (click)="createType()"
                [nzLoading]="loading"
        >
            新建
        </button>
    </div>
</div>


<nz-table
    #rowSelectionTable
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    [nzData]="listOfData"
    [nzLoading]="loading"
    [nzShowPagination]="showPagination"
    [nzShowSizeChanger]="showSizeChanger">

    <thead>
    <tr>
        <th
                (nzCheckedChange)="onAllChecked($event)"
                [(nzChecked)]="checkedAll"
                [nzIndeterminate]="indeterminate">
        </th>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let type of rowSelectionTable.data">
        <td
                (nzCheckedChange)="onItemChecked(type.id,$event)"
                [nzChecked]="setOfCheckedItems.has(type.id)">
        </td>
        <td>{{ type.id }}</td>
        <td>{{ type.name }}</td>
    </tr>
    </tbody>
</nz-table>


