<nz-modal (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [(nzVisible)]="isVisible" [nzOkDisabled]="newAccount.name == ''"
          [nzTitle]="title" nzWidth>
    <div *nzModalContent>
        <nz-table [nzData]="[{}]" [nzShowPagination]="false">
            <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Type</th>
                <th>Funds</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <input [(ngModel)]="newAccount.name" nz-input/>
                </td>
                <td>
                    <input [(ngModel)]="newAccount.number" nz-input/>
                </td>
                <td>
                    <input [(ngModel)]="newAccount.type" nz-input/>
                </td>
                <td>
                    <nz-input-number [(ngModel)]="newAccount.funds" [nzMin]="0" [nzStep]="100">
                    </nz-input-number>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</nz-modal>
