<nz-modal (nzOnCancel)="cancel()" (nzOnOk)="ok()" [(nzVisible)]="isVisible"
          [nzOkDisabled]="data.name == ''" [nzTitle]="title" nzWidth>
    <div *nzModalContent>
        <nz-table [nzData]="[{}]" [nzShowPagination]="false">
            <!--两行不显示的空表头-->
            <thead>
            <tr *ngIf="false">
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>名称</td>
                <td><input [(ngModel)]="data.name" nz-input/></td>
            </tr>
            <tr>
                <td>号码</td>
                <td><input [(ngModel)]="data.number" nz-input/></td>
            </tr>
            <tr>
                <td>类型</td>
                <td><input [(ngModel)]="data.type" nz-input/></td>
            </tr>
            <tr>
                <td>资金</td>
                <td><input [(ngModel)]="data.funds" nz-input type="number"/></td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</nz-modal>
