<app-component-transaction-editor #editor (editorResult)="getEditorResult($event)"></app-component-transaction-editor>

<div nz-flex nzGap="small" nzVertical>
    <!--按钮区域-->
    <div nz-flex nzJustify="space-between">
        <div nz-flex nzGap="small">
            <button
                    (click)="selectAllButton()"
                    [disabled]="selectedIds.size === data.length"
                    [nzLoading]="isLoading"
                    nz-button
            >
                全选
            </button>

            <nz-badge [nzCount]="selectedIds.size">
                <button
                        (click)="clearButton()"
                        [disabled]="selectedIds.size === 0"
                        [nzLoading]="isLoading"
                        nz-button>
                    清除
                </button>
            </nz-badge>
        </div>
        <div nz-flex nzGap="small">
            <button
                    (click)="deleteButton()"
                    [disabled]="selectedIds.size === 0"
                    [nzDanger]="true"
                    [nzLoading]="isLoading"
                    nz-button
                    nzType="primary"
            >
                删除
            </button>
            <button
                    (click)="modifyButton()"
                    [disabled]="selectedIds.size !== 1"
                    [nzLoading]="isLoading"
                    nz-button
                    nzType="primary"
            >
                修改
            </button>
            <button
                    (click)="createButton()"
                    [nzLoading]="isLoading"
                    nz-button
                    nzType="primary"
            >
                新建
            </button>
        </div>
    </div>
    <!--数据展示表格区域-->
    <nz-table
        #table (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzData]="data" [nzLoading]="isLoading"
        nzShowSizeChanger>
        <!--表头-->
        <thead>
        <tr>
            <!--全选框-->
            <th (nzCheckedChange)="checkAllBox($event)" [nzChecked]="selectAll" [nzIndeterminate]="selectSome"></th>
            <!--表头每一栏-->
            <th *ngFor="let tableHeader of tableHeaders"
                [nzSortDirections]="tableHeader.sortDirections" [nzSortFn]="tableHeader.sortFn"
                [nzSortOrder]="tableHeader.sortOrder" [nzSortPriority]="tableHeader.priority">
                {{ tableHeader.name }}
            </th>
        </tr>
        </thead>
        <!--表数据-->
        <tbody>
        <tr *ngFor="let transaction of table.data">
            <td (nzCheckedChange)="checkItemBox($event,transaction)"
                [nzChecked]="selectedIds.has(transaction.id)">
            </td>
            <td>{{ transaction.title }}</td>
            <td>{{ transaction.type.name }}</td>
            <td>{{ transaction.account.name }}</td>
            <td>{{ transaction.amount }}</td>
            <!--https://angular.cn/api/common/DatePipe-->
            <td>{{ transaction.datetime| date:"short":"+0800":"zh" }}</td>
            <td>{{ transaction.status | status }}</td>
        </tr>
        </tbody>
    </nz-table>
</div>
