<app-component-transaction-editor #editor (readEditorData)="readEditorData($event)"></app-component-transaction-editor>

<div nz-flex nzGap="small" nzVertical>
    <!--按钮区域-->
    <div nz-flex nzJustify="space-between" nzGap="small">
        <div nz-flex nzGap="small">
            <button nz-button [disabled]="selectedIds.size === data.length" [nzLoading]="isLoading"
                    (click)="selectAllButton()">
                全选
            </button>
            <nz-badge [nzCount]="selectedIds.size" [nzOverflowCount]="999">
                <button nz-button [disabled]="selectedIds.size === 0" [nzLoading]="isLoading"
                        (click)="clearButton()">
                    清除
                </button>
            </nz-badge>
        </div>
        <div nz-flex nzGap="small">
            <button nz-button nzType="primary" nzDanger [disabled]="selectedIds.size === 0" [nzLoading]="isLoading"
                    (click)="deleteButton()">
                删除
            </button>
            <button nz-button nzType="primary" [disabled]="selectedIds.size !== 1" [nzLoading]="isLoading"
                    (click)="modifyButton()">
                修改
            </button>
            <button nz-button nzType="primary" [nzLoading]="isLoading"
                    (click)="createButton()">
                新建
            </button>
        </div>
    </div>
    <!--数据展示表格区域-->
    <nz-table #table nzShowSizeChanger [nzData]="data" [nzLoading]="isLoading"
              (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
        <!--表头-->
        <thead>
        <tr>
            <!--全选框-->
            <th (nzCheckedChange)="checkAllBox($event)" [nzChecked]="selectAll" [nzIndeterminate]="selectSome"></th>
            <!--表头每一栏-->
            <th *ngFor="let h of tableHeaders" [nzSortDirections]="h.sortDirections" [nzSortFn]="h.sortFn"
                [nzSortOrder]="h.sortOrder" [nzSortPriority]="h.priority">
                {{ h.name }}
            </th>
        </tr>
        </thead>
        <!--表数据-->
        <tbody>
        <tr *ngFor="let t of table.data">
            <td (nzCheckedChange)="checkItemBox($event,t)" [nzChecked]="selectedIds.has(t.id)"></td>
            <td>{{ t.title }}</td>
            <td>{{ t.type.name }}</td>
            <td>{{ t.account.name }}</td>
            <td>{{ t.amount }}</td>
            <td>{{ t.datetime| date:"short":"+0800":"zh" }}</td>
            <td>{{ t.status | status }}</td>
        </tr>
        </tbody>
    </nz-table>
</div>
