.app-root {
    min-height: 100vh;
}

nz-header {
    background: white;
    border-bottom: 1px solid #F1F1F1;
}

nz-content {
    background-color: white;
    padding: 24px;
}

ul {
    height: 100%;
}