<nz-layout class="app-root">
    <nz-layout>
        <nz-sider [nzCollapsedWidth]="0" nzBreakpoint="lg" nzCollapsible nzTheme="light">
            <ul nz-menu nzMode="inline" nzTheme="light">
                <li nz-menu-item nzMatchRouter routerLink="/home">
                    <span nz-icon nzTheme="outline" nzType="home"></span>
                    <span>主页</span>
                </li>
                <li nz-submenu nzIcon="table" nzOpen nzTitle="表单">
                    <ul>
                        <li nz-menu-item nzMatchRouter routerLink="/transaction">
                            <span>账单表单</span>
                        </li>
                        <li nz-menu-item nzMatchRouter routerLink="/account">
                            <span>账户表单</span>
                        </li>
                        <li nz-menu-item nzMatchRouter routerLink="/type">
                            <span>类型表单</span>
                        </li>
                    </ul>
                </li>
                <li nz-submenu nzIcon="file-done" nzOpen nzTitle="报告">
                    <ul>
                        <li nz-menu-item nzMatchRouter
                            routerLink="/transaction-report">
                            <span>账单报告</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </nz-sider>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>