<nz-modal (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [(nzVisible)]="isVisible" [nzOkDisabled]="newType.name == ''"
          [nzTitle]="title">
    <ng-container *nzModalContent>
        <nz-table [nzData]="[{}]" [nzShowPagination]="false">
            <!--两行不显示的空表头-->
            <thead>
            <tr *ngIf="false">
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>名称</td>
                <td><input [(ngModel)]="newType.name" nz-input/></td>
            </tr>
            </tbody>
        </nz-table>
    </ng-container>
</nz-modal>
