<app-component-type-editor #editor (editorResult)="getEditorResult($event)"></app-component-type-editor>

<div nz-flex nzGap="small" nzVertical>
    <div nz-flex nzJustify="space-between">
        <div nz-flex nzGap="small">
            <button
                    (click)="selectAllItemsButton()"
                    [disabled]="setOfCheckedItems.size === listOfData.length"
                    [nzLoading]="loading"
                    nz-button
            >
                全选
            </button>

            <nz-badge [nzCount]="setOfCheckedItems.size">
                <button
                        (click)="clearSetOfCheckedItems()"
                        [disabled]="setOfCheckedItems.size === 0"
                        [nzLoading]="loading"
                        nz-button>
                    清除
                </button>
            </nz-badge>
        </div>

        <div nz-flex nzGap="small">
            <button
                    (click)="deleteTypes()"
                    [disabled]="setOfCheckedItems.size === 0"
                    [nzDanger]="true"
                    [nzLoading]="loading"
                    nz-button
                    nzType="primary"
            >
                删除
            </button>
            <button
                    (click)="editTypeButton()"
                    [disabled]="setOfCheckedItems.size !== 1"
                    [nzLoading]="loading"
                    nz-button
                    nzType="primary"
            >
                修改
            </button>
            <button
                    (click)="createTypeButton()"
                    [nzLoading]="loading"
                    nz-button
                    nzType="primary"
            >
                新建
            </button>
        </div>
    </div>
    <nz-table
        #rowSelectionTable
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        [nzData]="listOfData"
        [nzLoading]="loading"
        [nzShowPagination]="true"
        [nzShowSizeChanger]="true">

        <thead>
        <tr>
            <th (nzCheckedChange)="onAllChecked($event)"
                [(nzChecked)]="checkedAll"
                [nzIndeterminate]="indeterminate"
                [nzWidth]="'80px'">
            </th>
            <th *ngFor="let column of tableHeaderColumns"
                [nzSortDirections]="column.sortDirections"
                [nzSortFn]="column.sortFn"
                [nzSortOrder]="column.sortOrder">
                {{ column.name }}
            </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let type of rowSelectionTable.data">
            <td
                    (nzCheckedChange)="onItemChecked(type.id,$event)"
                    [nzChecked]="setOfCheckedItems.has(type.id)">
            </td>
            <td>{{ type.name }}</td>
        </tr>
        </tbody>
    </nz-table>
</div>
